@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Lilita+One|Montserrat&display=swap');

.showSpace {
  white-space: pre;
}


span.letra{

  font-size: 150%;
  color:gray;
  display: inherit;
}

span br {
  display:none;
}

.DivWithScroll {
    height:420px;
    overflow:scroll;
    overflow-x:hidden;
}

#wow{
  display: inline-block;
}

.activeLetter{
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {color: black;
  transform: scale(1.5);}
  to {color: gray;
  transform: scale(.9)}
}
/*{transform: scale(1.5);}*/
/* Standard syntax */
@keyframes example {
  from {color: black;
  transform: scale(1.5);}
  to {color: gray;
  transform: scale(.9)}
}

.box-shadow{
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
}
